.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
main{
  margin: 0 auto;
  width: 900px;
  background: #bbd1eb;
  background: radial-gradient(at right top, #fff, #bbd1eb);
  padding: 0 50px;
}
header{
  height: 250px;
  width: auto;
}
div.nowState{
  float: left;
  width: 355px;
}
.search{
  border-radius: 5px;
  margin-top: 20px;
  height: 50px;
  width: 355px;
  font-size: 45px;
  border: none;
  text-align: center;
  color: #b1bbcb;
  /*background: radial-gradient(at right top, #fff, #bbd1eb);*/
}
[type="search"]::-webkit-input-placeholder{
  color: #b1bbcb;
}
div.today-date{
  margin-top: 30px;
  color: #6979b8;
  width: 210px;
  height: 50px;
}
div.today-date>p{
  float: right;
  margin: 0;
  font-size: 15px;
}
div.today-date>h3{
  margin-top: 0;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 2px;
  /*float: left;*/
}
div.now-temp{
  margin: 0 auto;
  text-align: center;
  height: 50px;
}
div.now-temp>h2{
  display: inline-block;
  margin-top: 20px;
  font-size: 70px;
  font-weight: lighter;
  color: #2c303c;
}
div.now-temp>img{
  display: inline-block;
  margin: 10px;
  width: 50px;
}

figure.logo{
  float:right;
  margin: 0;
  position: relative;
}
figure.logo>h1{
  position: absolute;
  top: 170px;
  left: 35px;
  font-weight: 100;
  font-size: 60px;
  letter-spacing: 2px;
  color: #a1bfe8;
}
a{
  text-decoration: none;
  color: black;
}
article.today{
  margin-top: 50px;
}
article.today>div{
  display: inline-block;
}
div.breack-line{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 30px;
  background: #c6d4ea;
  width: 5px;
  height: 60px;
}
div.hour-weath{
  display: inline-block;
  width: 200px;
  margin: 0px 10px;
}
div.hour-weath>h2{
  margin-bottom: 15px;
  font-weight: lighter;
  color: #9870ad;
}
div.hour-weath>div>h2{
  display: inline-block;
  margin-top: 10px;
  font-size: 36px;
  color: #2c303c;
  font-weight: lighter;
}
div.hour-weath>div>img{
  display: inline-block;
}
div.change-days{
  width: 100%;
  text-align: left;
  padding-left: 40px;
}
div.change-days>a{
  color: #9870ad;
}
div.tomorrow{
  display: inline-block;
  border: 1px solid grey;
  height: 160px;
  width: 150px;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}
div.tomorrow>h4{
  display: inline-block;
  margin: 15px auto;
  font-size: 23px;
  /*font-weight: lighter;*/
}
div.tomorrow>img{
  display: inline-block;
  width: 40px;
}
div.tomorrow>p{
  margin: 15px auto;
  font-size: 23px;
  color: #9870ad;
}
